table {
    font-size: small;
}

a {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

aside {
   max-height: 150vh;
   overflow-wrap:scroll;
}

#map {
    height: 40vh;
    width:80vw;
    margin: 30px;

}

.header {
    box-shadow: 0 0 4px rgba(12, 12, 12, 0.3);
    height:auto;
    background-color: #ffffff;
    min-height: 50px; 
    position: fixed;
    top:0px;
    left:0;
    right: 0;
    box-sizing: border-box;
    z-index: 1500;
}

body {
    position: relative;
    top: 75px;
    left: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: ghostwhite;
}

#mi_mapa {
    height: 40vh;
    width:80vw;
    margin: 30px;

}

.graf-div {
    display: flex;
    position: relative;
    margin:30px;
    height: 60vh;
    width: 60vw;
}

.agregar-form {
    position: relative;
    top: 110px;
    left: 40px;
    background-color: #8da0a0;
    width: 75%;
}

form {
    color: white;
    margin-left: 5px;
    margin-right: 5px;;
    padding: 10px;    
    justify-content: end;
}

form label {
    border-radius: 10px;
    border: 1px solid darkslategray;
    width: 6rem;
    background-color:darkslategray ;
}

form textarea {
    height: 30px;
    width: 30%;
    min-width: 10rem;
    margin-bottom: 0;
}

p {
    height: 3rem;
    align-items: center;
}



.reg-form {
    background-color: burlywood;
    padding:20px;
}

.mini-img {
    object-fit: cover;
    object-position: right center;
    height:auto;
    max-height:250px;
    width: 100%;
    display: block;
}

.div-img {
    flex-shrink: 0;
    flex-grow: 0;
    margin: 12px 24px;
    padding:8px;
    display: block;
    pointer-events: auto;
    cursor: pointer;
}

.dashboard-section {
    box-sizing: border-box;
    position: relative;
    top: 110px;
    display: flex;
    flex-direction:row;
    justify-content:unset;
    
}

.side-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0vh;
    min-height: none;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
}

.user-profile {
    display: flex;
    justify-content: center;
}

.user-profile>img {
    position: relative;
    top: -32px;
    height: 64px;
    border-radius: 50px;
}

.sport-icon {
    height: 26px;
    width: 26px;
    background-color:rgb(128, 107, 107);
    border-radius: 50px;;
}

.activitycard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.last-activity {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 100%;
    margin-left: 25px;
    border-top: 1px solid #f2f2f0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.last-activity-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    }

.semana  {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8vh;
    width: 100%;
    align-items:center;
    border-top: 1px solid #f2f2f0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.semana-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 30px;
}

.semana h7 {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 22px;
    }

.semana-cal {
    position: relative;
    top: 10vh;
    display: inline-flex;
    gap: 10px;
    align-items:center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dia-cal {
    width: 26px;
    height: 26px;
    justify-items: end;
    margin: 0px 2px 0px
}

.dia-cal-num {
    width: 26px;
    height: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c6ccd3;
    border-radius:50%;
    justify-content: center;
    font-size: 0.625rem;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
}

.dia-cal-num a {
    display: inline-block;
    z-index: 6;
}

.dia-cal-txt {
    width: 26px;
    height: 26px;
    display:flex;
    padding:1px;
    justify-content: center;
    font-size: 0.825rem;
    color: #5e6061;
}

.dashboard-totals {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding: 10px;
    border-top: 1px solid #f2f2f0;
    width: 100%;
}

.dashboard-totals>.li-data {
    margin: 0px 3px 0px 0px;
}


.training-log {
    position: relative;
    top: 90px;
    border-top: 1px solid #f2f2f0;
    display: block;
    padding: 15px;
    width: 100%;
}

.training-log:hover {
    width: 100%;
    color: blue;
    background-color:rgb(243, 243, 253);
}

.esta-semana {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 90px;
    width: 100%;
    align-items: center;
    border-top: 1px solid #f2f2f0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bar-graf {
    width: 80%;
    
}

.wrap-grafico {
    margin-top: 15px;
    display:flex;
    flex-direction: row;
    border-top: 1px solid #f2f2f0;
    padding: 15px;
}

.grafico {
    display: flex;
    align-items: flex-end;
    width: 5vh;
    padding: 2px;
    margin-bottom: 5px;
    
}

.grafico-h8 {
    display: grid;
    font-weight: 600;
    font-size: small;
    color:#6e6c6c;
    justify-content: center;
}

.barra {
    display: block;
    background-color: #4caf50;
    width:3vh;
    text-align: center;
    color: #e8efe8;
    font-size: smaller;
    
}

.today {
    background-color: #fc5200;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100% );
    height: 2vh;
    width: 2vh;
    color: #fc5200;
}

.totales-semana {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

.totales-semana-tiempo {
    padding: 10px;
    border-right: 1px solid #f2f2f0;
}

.totales-semana-subida {
    padding: 10px;
}

.totales-semana-distancia {
    font-size: small;
}

.anio {
    position: relative;
    margin-top: 18vh;
}

.navbar-wrap {
    display: flex;
    justify-content: space-between ;
}
.navbar {
    z-index:1100;
}
.navbar-brand {
    float: left;
    padding: 0px;
    margin-top: -5px;
    }


.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 800;
  font-style: normal;
   font-size: 36px;
  color: #fc5200 !important;
}

.rubik-pixels-regular {
  font-family: "Rubik Pixels", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 36px;
  color: rgb(216, 70, 8)!important;
}

.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 36px;
  color: rgb(216, 70, 8)!important;
 
}

#dropMenu {
    color: #343a40 !important ;
}

.card {
    border:none;
    
}

.card-data {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
}

.card-data>li:last-child>.li-data {
    border-right: 0;
}

.profile-card {
    position: relative;
    top: 40px;
    width: 80%;
    height: 100%;
    background-color: #41464a;
    color:#c6ccd3;
}

.card-profile-data {
    display: flex;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    
}

.card-profile-data .title {
    width: 10rem;
    margin: 8px;
}

.card-profile-data .content {
    border: 1px solid #c6ccd3;
    width: 70%;
    margin: 8px;
}

.li-data {
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    border-color: #f2f2f0;
    margin-right: 16px;
    padding-right: 16px;
    opacity: 0.8;
}


.span-data {
    font-size: smaller;
}

.date-text {
    font-size: smaller;
}

.li-data-data {
    font-size:medium;
    font-weight: 600;
}

.navbar-toggler-icon {
    padding-top: 2% ;
    padding-bottom: 2%;
}



@media(max-width:991px) {
    .side-section {
        display: none;
    }

    .dashboard-card {
        margin-left: calc(15%);
        width: 75%;

    }
}