{% extends "mapas/layout.html" %}

{% load static %}
{% block body %}  
    <div class="container-fluid m-10">
        <h2 class="ml-5 p-2">Delete?</h2>
        <div class="ml-5 p-2">{{ activity.id }}</div>
        <div class="ml-5 p-2">{{ activity.nombre }}</div>
    </div>
        <div class="m-5 bg-secondary text-white">
            <form class="form p-3" action= "{% url 'delete_activity' activity.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="activity_id" value="{{ activity.id }}">
                <input type="hidden" name="name" value="{{ activity.name }}">
                <input class="btn btn-dark" type="submit" value="Delete">
                <a class="btn btn-secondary" href="{% url "my_activities" %}">Cancel</a>
            </form>
        </div>
{% endblock %}