{% extends "mapas/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <script>
        var map = L.map('map').setView([43.4168, -2.7038], 13);
        var coords = [
            [40.4168, -3.7038],
            [40.4175, -3.7020],
            [40.4182, -3.7002]
        ];
        //L.polyline(coords, {color: 'blue'}).addTo(map);
        //map.fitBounds(coords);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        //L.marker([40.4182, -3.7002]).addTo(map)
        // .bindPopup('A pretty CSS popup.<br> Easily customizable.')
        //  .openPopup();

    </script>
    
        {% if user.is_authenticated %}
        <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            {{ user }}
        </div>
        
            <ul class="navbar-nav row">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'rutas' %}">
                         Rutas
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'logout' %}">
                         Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
        {% else %}
        <nav class="navbar navbar-light bg-light">
        <ul class="navbar-nav row">
            <li class="nav-item ml-3">
                <a class="nav-link" href="{% url 'login' %}">
                     Login
                </a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="{% url 'register' %}">
                     Register
                </a>
            </li>
        </ul>
        {% endif %}
        </nav>
<div id="listaRutas">
        <div class="row m-3 col-10">
            <div class="titulo col-2">Usuario</div>
            <div class="titulo col-2">Fecha</div>
            <div class="titulo col-2">Ruta</div>
            <div class="titulo col-2">Descripcion</div>
            <div class="titulo col-2">Deporte</div>
        </div>
        {% for ruta in rutas %}
       
            
                <div class="card mt-3 col-10 row" >
                    <div class="card-body row">
                            <div class="col-1">{{ ruta.usuario}}</div>
                            <div class=" col-1">{{ ruta.id }}</div>
                            <div class="col-2">{{ ruta.fecha }}</div>
                            <div class="col-2">
                                <a 
                                {% if not user.is_authenticated %}
                                hidden 
                                {% endif %}
                                href="{% url 'ruta_view' ruta.id %}">
                                    <div >{{ ruta.nombre }}</div>
                                </a>
                            </div>
                            <div class="col-2">{{ ruta.acums.acum_distancia }}</div>
                            <div class="col-2">{{ ruta.sport }}</div>
                    {% if user.is_authenticated %}
                    <div class="card mt-3 col-1">
                        <form action="{% url 'delete_ruta' ruta.id %}" onsubmit="return confirm('¿Seguro que quieres borrar esta ruta?')" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    {% endif %}
                    </div>
            </div>
       
        {% endfor %}
        
    </div>
    </div>


{% endblock %}