{% extends 'mapas/layout.html' %}

{% load static %}

{% block body %}
<div>
    {% if user.is_authenticated %}
    <h2>Nombre: {{ ruta.nombre }} Fecha: {{ fecha }}</h2>
    {{ user }}
    {{ puntos|json_script:"puntos-data" }}
    {{ ruta.coordenadas|json_script:"coords-data" }}
    {{ ruta.altitudes|json_script:"altitudes-data" }}
    {{ ruta.bpm|json_script:"bpm-data" }}
    {{ ruta.tiempos|json_script:"tiempos-data" }}
    {{ ruta.distancias|json_script:"distancias-data" }}
    {{ ruta.cadencias|json_script:"cadencias-data" }}
    {{ speeds|json_script:"speeds-data" }}

    <div id="map"></div>
    <div class="row">
        <div class="graf-div col-8">
            <canvas id="graf"></canvas>
        </div>
        <div class="table col-4">
            <table>
                <thead>
                <tr>
                    <th>Distancia</th>
                    <th>Tiempo</th>
                    <th>BPM</th>
                    <th>BPM max</th>
                    <th>Subida</th>
                    <th>Bajada</th>
                    <th>Max_speed</th>
                    <th>Max_alt</th>
                    <th>Min_alt</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ ruta.acums.acum_distancia }}
                        </td>
                        <td>
                            {{ ruta.acums.acum_tiempo }}
                        </td>
                        <td>
                            {{ ruta.acums.acum_hr }}
                        </td>
                        <td>
                            {{ ruta.acums.hr_max }}
                        </td>
                        <td>
                            {{ ruta.acums.acum_subida }}
                        </td>
                        <td>
                            {{ ruta.acums.acum_bajada }}
                        </td>
                        <td>
                            {{ ruta.acums.max_speed }}
                        </td>
                        <td>
                            {{ ruta.acums.h_max }}
                        </td>
                        <td>
                            {{ ruta.acums.h_min }}
                        </td>
                    </tr>
                    {% for lap in ruta.lap_data %}
                    <tr>
                            <td id="total-distancia">{{ lap.acum_distancia }}</td>
                            <td id="total-tiempo">{{ lap.lap_time }}</td>
                            <td id="total-bpm">{{ lap.lap_avg_hr }}</td>
                            <td id="altura-max">{{ lap.lap_max_hr }}</td>
                            <td id="total-subida">{{ lap.lap_subida }}</td>
                            <td id="total-bajada">{{ lap.lap_bajada }}</td>
                            <td id="total-avg_speed">{{ lap.lap_max_speed }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'mapas/mapa.js' %}"></script>

    <script src="{% static 'mapas/grafico.js' %}"></script>
    
</div>
<a href="{% url 'add_ruta' %}">
    >> Agregar rutas
</a>
{% endif %}
</div>
{% endblock %}